docs/reference/*.docbook
src/.deps
src/.libs
src/*.la
src/*.lo
Makefile
Makefile.in
depcomp
stamp-h1
missing
*.tar.gz
*.tar.bz2
libtool
ltmain.sh
install-sh
aclocal.m4
autom4te.cache
compile
config.*
configure
configure.ac
*.m4
*.make

